body {
  background-color: rgb(255, 255, 255);;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 135px; /* Adjust the width as per your requirement */
  height: auto; /* This ensures the image retains its aspect ratio */
  margin-right: 10px; /* Add some spacing between the logo and the heading */
}


h1 {
  background-color: #ebfff7;; 
  padding: 50px; 
  flex-grow: 1;
  text-align: center;
  font-family: "Aeonik", "Inter", sans-serif;
  font-style: normal;
}


table {
  border-collapse: collapse;
  width: 100%;
  }


  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  td:first-child {
    font-family: "Arial", sans-serif;
  }
  
  td:nth-child(2) {
    color: green;
  }
  
  td:nth-child(3) {
    color: blue;
    font-family: "Sans Mono", monospace;
  }

  td:nth-child(4) {
    color: green;
  }
